<!-- app/views/cities/index.html.erb -->
<p style="color: green"><%= notice %></p>

<h1>Cities</h1>

<div id="cities" class="city-grid">
  <% @cities.each do |city| %>
    <div class="city-item">
     <%= render city %> 
     
      <p>
        <%= link_to "Mostra dettagli", city %>
      </p>


      
    </div>
  <% end %>
</div>
