/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/application.css */

/* Stile per la griglia delle città */
.city-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Griglia adattabile con colonne minime di 200px */
  gap: 20px; /* Spaziatura tra le città */
}

/* Stile per ogni singola città */
.city-item {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

/* Stile per le immagini delle città */
.city-image {
  max-width: 100%; /* Immagini al massimo della larghezza disponibile */
  height: 100px; /* Altezza proporzionale alla larghezza per evitare distorsioni */
}
.footer-photos {
  display: flex;
  justify-content: center; /* Centra le immagini orizzontalmente */
  align-items: center; /* Centra le immagini verticalmente */
}

.footer-photos img {
  max-width: 100px; /* Imposta la larghezza massima delle immagini */
  margin: 0 10px; /* Aggiunge margine tra le immagini */
}
